<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentCulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer"/>
    <title>@ViewData["Title"] - Covidhub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom box-shadow mb-3">        
            <div class="container">

                <div class="collapse navbar-collapse" id="myNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                        <!-- gambiarra kk (back > front) --> 
                        </li>
                    </ul>
                </div>

                <a class="navbar-brand mx-auto" asp-controller="Home" asp-action="Index" >Covid<span class="hub">hub</span></a>    
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="myNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Language" asp-action="Portugues" >🇧🇷</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Language" asp-action="Francais" >🇫🇷 </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Language" asp-action="English" >🇺🇸</a>
                        </li>
                    </ul>
                </div>

            </div>        
        </nav>

        

        @* <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="mx-auto">
                <a class="navbar-brand mx-auto" asp-area="" asp-controller="Home" asp-action="Index">Covid<span class="hub">hub</span></a>                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
                        
            <div class="navbar-collapse collapse ml-auto" id="navbarNav">
                <ul class="navbar-nav pull-sm-right">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Language" asp-action="Portugues" >🇧🇷</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Language" asp-action="Francais" >🇫🇷 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Language" asp-action="English" >🇺🇸</a>
                    </li>
                </ul>
            </div>
        </nav> *@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - CovidHUB | Powered by <a href="https://www.newscatcherapi.com">newscatcherapi.com</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
